<div class="container">

  <div *ngIf="dialog">
    <mat-toolbar color="primary" (click)="openDialog()">
      <img class="imagen" mat-card-image src="{{pokemonImagen2}}" alt="imagen del Pokemon">
      <span class="span">{{pokemon.name | uppercase}}</span>
      <h4>
        Tipo: {{pokemonTipo}} 
        Altura: {{pokemon.height | alturaPeso}} m
        Peso: {{pokemon.weight | alturaPeso}} kg
    </h4>
    </mat-toolbar>
  </div>

  <div class="filter">
    <mat-form-field>
      <mat-label>
        Filtrar
        <mat-icon>search</mat-icon>
      </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input autocomplete="on">
    </mat-form-field>
  </div>
  

  <div class="mat-elevation-z10 contenido">
    <table mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detallePokemon(row.nombre)"></tr>
    </table>

    <div *ngIf="detalles">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{pokemon.name | uppercase}}</mat-card-title>
          <mat-card-subtitle>N° {{pokemon.id}}</mat-card-subtitle>
          <mat-card-actions>
            <button class="favorito" mat-button (click)="favorito()">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-header>
        <img class="imagen" mat-card-image src="{{pokemonImagen}}" alt="imagen del Pokemon">
        <mat-card-content>
          <mat-chip-set>
            <mat-chip color="primary">Tipo: {{pokemonTipo}}</mat-chip>
            <mat-chip color="primary">Altura: {{pokemon.height | alturaPeso}} m</mat-chip>
            <mat-chip color="primary">Peso: {{pokemon.weight | alturaPeso}} kg</mat-chip>
          </mat-chip-set>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="!detalles">
        <img class="imagen" mat-card-image src="assets/img/pokemon.png" alt="imagen del Pokemon">
        <h1 style="text-align: center; color: #0a21a5d2;">¡Elige tu Pokemon! </h1>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione número de elementos"></mat-paginator>

  </div>
</div>